[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "git/git-flow-completion"]
	path = git/git-flow-completion
	url = http://github.com/bobthecow/git-flow-completion.git
[submodule "git/git-flow"]
	path = git/git-flow
	url = http://github.com/nvie/gitflow.git
[submodule "cheat"]
	path = cheat
	url = https://github.com/chrisallenlane/cheat.git
