# Homebrew

HOMEBREW_GITHUB_API_TOKEN=

# VMware

VSPHERE_ALLOW_UNVERIFIED_SSL='true'
VSPHERE_SERVER=${TF_VAR_vsphere_server}
VSPHERE_USER=${TF_VAR_vsphere_user}
VSPHERE_PASSWORD=${TF_VAR_vsphere_password}

GOVC_URL=${TF_VAR_vsphere_server}
GOVC_USERNAME=${TF_VAR_vsphere_user}
GOVC_PASSWORD=${TF_VAR_vsphere_password}
GOVC_INSECURE=1

# Azure

ARM_SUBSCRIPTION_ID=
ARM_CLIENT_ID=
ARM_CLIENT_SECRET=
ARM_TENANT_ID=
ARM_ACCESS_KEY=
ARM_ENVIRONMENT='public'

# CloudFlare

CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=

# Terraform

TF_VAR_vsphere_user=${GOVC_USERNAME}
TF_VAR_vsphere_password=${GOVC_PASSWORD}
TF_VAR_vsphere_server=${GOVC_URL}
TF_VAR_vsphere_host=
TF_VAR_vsphere_datastore=
TF_VAR_vsphere_vm_iso=
TF_VAR_vsphere_vm_folder=
TF_VAR_vsphere_vm_network=

# AWS
TF_VAR_aws_region_name=
TF_VAR_aws_access_key_id=
TF_VAR_aws_secret_access_key=

# Linode
TF_VAR_linode_token=

# BigIP F5
TF_VAR_bigip_address=
TF_VAR_bigip_username=
TF_VAR_bigip_password=

# BIND 9
TF_VAR_dns_server=
TF_VAR_dns_key_secret=
