services:
  dotfiles-verify:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dotfiles_ubuntu_verify
    platform: linux/amd64
    hostname: ubuntu-verify
    volumes:
      - ../../:/home/zx1986/xProfile:rw
      - ../../offline-packages:/home/zx1986/.local/share/offline-packages:ro
    tty: true
    stdin_open: true
