<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>${1:`substitute(Filename('', 'Page Title'), '^.', '\u&', '')`}</title>
	
	<!-- ********* CSS ********* -->
	<!-- base css -->
	<link href="./css/style.css" rel="stylesheet" type="text/css">

	<!-- page specific css -->
	<link href="#" rel="stylesheet" type="text/css">
</head>
<body>
	${3}


<!-- ********* Javascript ********* -->
<!-- base javascript -->
<script src="./js/${2}" type="text/javascript" charset="utf-8"></script>

<!-- page specific javascript -->
<script src="#" type="text/javascript" charset="utf-8"></script>

<!-- extensions -->
</body>
</html>
